[Unit]
Description=Gunicorn instance to serve backend app with uvicorn workers
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/var/www/backend
EnvironmentFile=/var/www/backend/.env.prod
ExecStart=gunicorn \
            --workers 3 \
            --bind unix:backend.sock \
            -m 007 \
            -k backend.workers.ProductionUvicornWorker \
            backend.app.main:app
Restart=on-failure

[Install]
WantedBy=multi-user.target
