# data folders
containers/web-server/node_modules/
mounts/raster/
mounts/vector/
incoming_data/
intermediate_data/
*.zip
*.tif
*.aux.xml
*.tar.xz
*.bak
*.nvmrc
etl/*_test.csv
etl/logs
etl/vector
etl/regions
etl/config_local.yml
public/*.csv
public/**/*.csv
.snakemake

# local config
.env*
!.env.example
TODO
NOTES
venv
.vscode
.devcontainer

# build
build/
.terraform
*.tfstate
*.tfstate.backup
*.hcl

# tileserver database
terracotta.sqlite
terracotta.sqlite-journal

# python files
__pycache__
*.egg-info
*.pyc

# Docker and deployment
envs

# Terraform
*.tfstate*

# Other data
*.zip
*.nc
*.nc4
*.tiff
tileserver/raster/db
deploy.sh
main.tf
provision.sh
*.geoparquet
*.gpkg
*.mbtiles
*.tar.gz
.vscode

