# data folders
node_modules/
mounts/raster/
mounts/vector/
incoming_data/
intermediate_data/
*.zip
*.tif
*.aux.xml
*.tar.xz
*.bak
*.nvmrc
etl/*_test.csv
etl/logs
etl/vector
etl/regions
etl/config_local.yml
public/*.csv
public/**/*.csv
.snakemake

# local config
.env*
!.env.example
TODO
NOTES
venv

# build
build/
.terraform
*.tfstate
*.tfstate.backup
*.hcl

# tileserver database
terracotta.sqlite

# python files
__pycache__
*.egg-info
*.pyc
