# data folders
node_modules/
tileserver/raster/data
tileserver/vector/data
incoming_data/
intermediate_data/
*.zip
*.tif
*.aux.xml
*.tar.xz
*.bak
etl/vector/*.txt
etl/*_test.csv
public/*.csv
public/**/*.csv
.snakemake

# local config
.env
TODO
NOTES
venv

# build
build/
.terraform
*.tfstate
*.tfstate.backup
*.hcl


# tileserver database
terracotta.sqlite


# python files
__pycache__
*.egg-info
*.pyc
