services:
  traefik:
    image: "traefik:v3.4"
    container_name: "traefik"
    profiles: ["traefik"]
    command:
      - "--providers.docker.exposedbydefault=false"
      - "--entryPoints.web.address=:80"
      - "--providers.docker"
      - "--api.insecure=true"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"

  web-server:
    image: ghcr.io/nismod/irv-frontend:0.37
    profiles: ["web-server"]
    volumes:
      - ./irv-autopkg/packages:/usr/share/nginx/html/packages
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.web-server.rule=Host(`localhost`)"
      - "traefik.http.routers.web-server.entrypoints=web"
      - "traefik.http.services.web-server.loadbalancer.server.port=80"

  db:
    image: kartoza/postgis:14-3.1
    volumes:
      - postgis-data:/var/lib/postgresql
    env_file:
      - ./envs/dev/.db.env
    ports:
      - 5432:5432
    healthcheck:
      test: "exit 0"

  backend:
    build: ./containers/backend
    image: ghcr.io/nismod/gri-backend:1.8.1
    volumes:
      - ./etl/raster/cog/:/data/
      - ./containers/backend/backend/:/code/backend/
    env_file:
      - ./envs/dev/.backend.env
    ports:
      - 8888:8888
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`localhost`) && PathPrefix(`/api`)"
      - "traefik.http.routers.backend.entrypoints=web"
      - "traefik.http.routers.backend.middlewares=backend-stripprefix"
      - "traefik.http.middlewares.backend-stripprefix.stripprefix.prefixes=/api"
      - "traefik.http.services.backend.loadbalancer.server.port=8888"

  vector-tileserver:
    build: ./containers/vector
    image: ghcr.io/nismod/gri-vector-tileserver:0.10
    restart: always
    volumes:
      - ./tileserver/vector/data:/data # bind mount
      - ./containers/vector/config-dev.json:/config.json
    env_file:
      - ./envs/dev/.vector-tileserver.env
    ports:
      - 8800:8080
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.vector-tileserver.rule=Host(`localhost`) && PathPrefix(`/vector`)"
      - "traefik.http.routers.vector-tileserver.entrypoints=web"
      - "traefik.http.routers.vector-tileserver.middlewares=vector-tileserver-stripprefix"
      - "traefik.http.middlewares.vector-tileserver-stripprefix.stripprefix.prefixes=/vector"
      - "traefik.http.services.vector-tileserver.loadbalancer.server.port=8080"

  redis:
    image: redis:6.2-alpine
    restart: always
    profiles: ["autopkg"]
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - ./irv-autopkg/redis:/data

  irv-autopkg-api:
    image: ghcr.io/nismod/irv-autopkg:0.4.0-dev
    profiles: ["autopkg"]
    volumes:
      - /data/datapkg/data:/data/packages
      - ./irv-autopkg/tmp:/data/tmp
    env_file:
      - envs/dev/.irv-autopkg.env
    expose:
      - "8000"
    command: uvicorn api.main:app --host 0.0.0.0 --port 8000 --root-path /extract
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.irv-autopkg-api.rule=Host(`localhost`) && PathPrefix(`/extract`)"
      - "traefik.http.routers.irv-autopkg-api.entrypoints=web"
      - "traefik.http.routers.irv-autopkg-api.middlewares=irv-autopkg-api-stripprefix"
      - "traefik.http.middlewares.irv-autopkg-api-stripprefix.stripprefix.prefixes=/extract"
      - "traefik.http.services.irv-autopkg-api.loadbalancer.server.port=8000"

  ## WARNING - this will wipe the existing tables. TODO: Alembic
  recreate-metadata-schema:
    build: ./containers/backend
    image: ghcr.io/nismod/gri-backend:1.8.1
    profiles: ["recreate-metadata-schema"]
    volumes:
      - ./containers/backend/backend/db/models.py:/code/backend/db/models.py
    env_file:
      - ./envs/dev/.backend.env
    entrypoint: ["python"]
    command: ["/code/backend/create_schema.py"]

volumes:
  postgis-data:
