services:
  traefik:
    image: "traefik:v2.9"
    restart: always
    container_name: "traefik"
    command:
      - "--log.level=DEBUG"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--api.insecure=false"
      - "--api.dashboard=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.web.http.redirections.entryPoint.permanent=true"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.certresolverone.acme.tlschallenge=true"
      - "--certificatesresolvers.certresolverone.acme.email=tom.russell@ouce.ox.ac.uk"
      - "--certificatesresolvers.certresolverone.acme.storage=/letsencrypt/acme.json"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    cpus: 0.25
    mem_reservation: "50M"
    mem_limit: "250M"

  web-server:
    image: ghcr.io/nismod/irv-frontend:0.31
    restart: always
    expose:
      - "80"
    volumes:
      - ./irv-autopkg/packages:/usr/share/nginx/html/packages
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.web-server.rule=Host(`global.infrastructureresilience.org`)"
      - "traefik.http.routers.web-server.entrypoints=websecure"
      - "traefik.http.routers.web-server.tls.certresolver=certresolverone"
      - "traefik.http.services.web-server.loadbalancer.server.port=80"
    cpus: 0.25
    mem_reservation: "50M"
    mem_limit: "250M"

  backend:
    image: ghcr.io/nismod/gri-backend:1.5.0
    restart: always
    volumes:
      - ./tileserver/raster/data:/data
    env_file:
      - ./envs/prod/.backend.env
    expose:
      - "8888"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`global.infrastructureresilience.org`) && PathPrefix(`/api`)"
      - "traefik.http.routers.backend.entrypoints=websecure"
      - "traefik.http.routers.backend.tls.certresolver=certresolverone"
      - "traefik.http.routers.backend.middlewares=backend-stripprefix"
      - "traefik.http.middlewares.backend-stripprefix.stripprefix.prefixes=/api"
      - "traefik.http.services.backend.loadbalancer.server.port=8888"
    cpus: 0.5
    mem_reservation: "50M"
    mem_limit: "500M"

  vector-tileserver:
    image: ghcr.io/nismod/gri-vector-tileserver:0.10
    restart: always
    command:
      [
        "tileserver-gl-light",
        "-c",
        "config.json",
        "-p",
        "8080",
        "--verbose",
        "-u",
        "https://global.infrastructureresilience.org/vector",
      ]
    volumes:
      - ./tileserver/vector/data:/data
      - ./vector-tileserver/config.json:/config.json
    expose:
      - "8080"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.vector-tileserver.rule=Host(`global.infrastructureresilience.org`) && PathPrefix(`/vector`)"
      - "traefik.http.routers.vector-tileserver.entrypoints=websecure"
      - "traefik.http.routers.vector-tileserver.tls.certresolver=certresolverone"
      - "traefik.http.routers.vector-tileserver.middlewares=vector-tileserver-stripprefix"
      - "traefik.http.middlewares.vector-tileserver-stripprefix.stripprefix.prefixes=/vector"
      - "traefik.http.services.vector-tileserver.loadbalancer.server.port=8080"
    cpus: 0.5
    mem_reservation: "50M"
    mem_limit: "500M"

  redis:
    image: ghcr.io/nismod/irv-autopkg-redis:0.1
    user: autopkg
    restart: always
    command: redis-server --save 20 1 --loglevel notice
    volumes:
      - ./irv-autopkg/redis:/data
    cpus: 1.0
    mem_reservation: "250M"
    mem_limit: "1G"

  irv-autopkg-worker:
    image: ghcr.io/nismod/irv-autopkg:0.2.7
    restart: always
    user: autopkg
    volumes:
      - ./irv-autopkg/packages:/data/packages
      - ./irv-autopkg/processing:/data/processing
    env_file:
      - envs/prod/.irv-autopkg.env
    command: celery --app dataproc.tasks worker
    cpus: 1.0
    mem_reservation: "500M"
    mem_limit: "2G"

  irv-autopkg-api:
    image: ghcr.io/nismod/irv-autopkg:0.2.7
    restart: always
    user: autopkg
    volumes:
      - ./irv-autopkg/packages:/data/packages
      - ./irv-autopkg/processing:/data/processing
    env_file:
      - envs/prod/.irv-autopkg.env
    ports:
      - 8000:8000
    command: uvicorn api.main:app --workers 2 --host 0.0.0.0 --port 8000 --root-path /extract
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.irv-autopkg-api.rule=Host(`global.infrastructureresilience.org`) && PathPrefix(`/extract`)"
      - "traefik.http.routers.irv-autopkg-api.entrypoints=websecure"
      - "traefik.http.routers.irv-autopkg-api.tls.certresolver=certresolverone"
      - "traefik.http.routers.irv-autopkg-api.middlewares=irv-autopkg-api-stripprefix"
      - "traefik.http.middlewares.irv-autopkg-api-stripprefix.stripprefix.prefixes=/extract"
      - "traefik.http.services.irv-autopkg-api.loadbalancer.server.port=8000"
    cpus: 0.5
    mem_reservation: "250M"
    mem_limit: "500M"
