[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
geoalchemy2 = "*"
uvicorn = "*"
psycopg2 = "*"
shapely = "*"
fastapi-pagination = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
