[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
geoalchemy2 = "*"
uvicorn = "*"
psycopg2 = "*"
shapely = "*"
snakemake = "*"
pandas = "*"
pygeos = "*"
geopandas = "*"
setuptools = "*"
backend = {editable = true, path = "."}
tqdm = "*"
pyarrow = "*"

[dev-packages]
black = "*"
snakefmt = "*"

[requires]
python_version = "3.10"
