/**
 * Top menu
 */
.MuiAppBar-root {
  z-index: 1201 !important;
}

.MuiDrawer-paper {
  overflow-x: hidden;
}

.nav-brand {
  margin-right: 12px;
}

.nav-link {
  padding: 0 3px 1px 3px;
  margin: 0 9px -18px 9px;
  color: inherit;
  border-bottom: 6px solid transparent;
  text-decoration: none;
}

/**
 * Page layout
 */
.home {
  background-image: url('../public/irma-2017_data-from-nasa-modis_processed-by-antti-lipponen_1280.jpg');
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
}

article {
  max-width: 60rem;
  padding: 1rem 1rem 5rem 1rem;
  margin: 0 auto;
  font-size: 1.2rem;
  max-width: 60rem;
}

.home article {
  font-size: 1.5rem;
  font-family: 'Catamaran', 'Roboto', sans-serif;
  min-height: 100vh;
  max-width: 80rem;
}

article p {
  margin-top: 0;
}

/**
 * Map and controls
 */
.mapboxgl-ctrl-logo {
  display: none !important;
}