[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
backend = {editable = true, path = "."}
fastapi = "*"
geoalchemy2 = "*"
uvicorn = "*"
psycopg2 = "*"
fastapi-pagination = "*"
setuptools = "*"

[dev-packages]
black = "*"
geopandas = "*"
pandas = "*"
pyarrow = "*"
pygeos = "*"
shapely = "*"
snakefmt = "*"
snakemake = "*"
tqdm = "*"
ujson = "*"

[requires]
python_version = "3.10"
