name: irv-etl
channels:
  - default
  - conda-forge
  - bioconda  # for snakemake
dependencies:
  - python=3.10
  - cdsapi  # Copernicus CDS API client
  - crick  # streaming algorithms for raster ingestion
  - gdal  # geospatial data transformation
  - gdown  # download from google drive
  - geoalchemy2  # spatial database extensions for sqlalchemy
  - geopandas  # geographic pandas dataframes
  - gunicorn  # WSGI web server
  - httpie  # friendly CLI HTTP client
  - jq  # JSON filtering
  - netcdf4  # netCDF file support
  # pin numpy to prevent np.object deprecation bug triggered in crick 0.3.0
  - numpy<=1.23.5  # n-d arrays
  - pip  # python package management
  - pip:
      # this version not available on conda-forge
      - terracotta==0.7.5  # raster tile server and processing utilities
  - pyarrow  # performant tabular data
  - pymysql  # mysql python client, for raster ingestion
  - psycopg2-binary  # postgreSQL python client, for raster metadata
  - rasterio  # geospatial raster data
  - rioxarray  # extend xarray for rasters
  - sqlalchemy~=1.4  # SQL object relational mapper (ORM)
  - snakemake==7.15.2  # workflow orchestration
  - tippecanoe  # vector tileset creation
  - ujson  # fast JSON encoder
  - xarray  # named n-dimensional numpy matricies
  - zenodo_get  # downloader for zenodo data
