name: irv-etl
channels:
  - nodefaults
  - bioconda
  - conda-forge
dependencies:
  - python=3.12
  - cdsapi # Copernicus CDS API client
  - crick # streaming algorithms for raster ingestion
  - gdal # geospatial data transformation
  - gdown # download from google drive
  - geoalchemy2 # spatial database extensions for sqlalchemy
  - geopandas # geographic pandas dataframes
  - gunicorn # WSGI web server
  - httpie # friendly CLI HTTP client
  - jq # JSON filtering
  - netcdf4 # netCDF file support
  - numpy # array data
  - pip # python package management
  - pip:
      - ../containers/backend # gri-backend package provides "backend.*"
      # this version not available on conda-forge
      - terracotta==0.8.3 # raster tile server and processing utilities
  - pyarrow # performant tabular data
  - pyogrio # faster geopandas I/O
  - psycopg2-binary # postgreSQL python client, for raster metadata
  - rasterio # geospatial raster data
  - rioxarray # extend xarray for rasters
  - snakemake # workflow orchestration
  - tippecanoe # vector tileset creation
  - ujson # fast JSON encoder
  - xarray # named n-dimensional numpy matricies
  - zenodo_get # downloader for zenodo data
