/**
 * Top menu
 */
.MuiAppBar-root {
  z-index: 1201 !important;
}
.MuiDrawer-paper {
  overflow-x: hidden;
}

.nav-brand {
  margin-right: 12px;
}
.nav-link {
  padding: 0 3px 1px 3px;
  margin: 0 9px -18px 9px;
  color: inherit;
  border-bottom: 6px solid transparent;
  text-decoration: none;
}

/**
 * Page layout
 */
.home {
  background-image: url('../public//an-aerial-photograph-of-the-flooded-tana-river-which-is-in-the-rift-valley-c5cc1b-1024.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
article {
  padding: 1rem 1rem 5rem 1rem;
  margin: 0 auto;
  font-size: 1.2rem;
  max-width: 60rem;
}
.home article {
  font-size: 1.5rem;
  font-family: 'Catamaran', 'Roboto', sans-serif;
  min-height: 100vh;
  max-width: 80rem;
}
article h2,
article h3 {
  margin-bottom: 0.5rem;
}
article p {
  margin-top: 0;
}
article p:last-child {
  margin-bottom: 0;
}
/**
 * Map and controls
 */
.mapboxgl-ctrl-logo {
  display: none !important;
}

tr.group-env,
tr.group-soc,
tr.group-econ,
tr.group-header {
  border-left-width: 4px;
  border-left-style: solid;
}
tr.group-env {
  border-color: #92ce61;
}
tr.group-soc {
  border-color: #5d8cc5;
}
tr.group-econ {
  border-color: #cf9a5a;
}
tr.group-header {
  border-color: #aaa;
}
