.navbar-height {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  background-color: #000066;
}
.navbar-brand img {
  width: 3rem;
  height: 3rem;
}
.map-height {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
}
